.operators {
  display: flex;
}
.operator-container {
  background-color: #282c34;
  border-right: 1px solid #181a1f;
  padding: 40px 0;
}
.operator-container:last-child {
  border-right: 0;
}

.operator__input-streams {
  min-height: 218px;
}

.page-header {
  padding: 30px 0;
}

.page-header__title {
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 5.6rem;
  margin: 0;
  padding: 2px 0;
}

.page-header__description {
  color: #808080;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.8rem;
  margin: 0;
  padding: 2px 0;
}
