html {
  font-size: 62.5%;
}

body {
  background-color: #ffffff;
  color: #333333;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', georgia;
  font-size: 1.6rem;
}

.content-wrapper {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 32px;
}
