html {
  font-size: 62.5%;
}

body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', georgia;
  font-size: 1.6rem;
}

.content-wrapper {
  margin: 0 60px;
}

.operator-name {
  text-align: center;
}
